.boxContact {
    box-shadow: 15px 10px 8px 0 rgba(17, 14, 187, 0.2);
    display:inline-flex;
    transition: 0.3s;
    border-radius: 20px 70px;
    background-image: linear-gradient(to right, rgb(190, 20, 14),
    rgb(211, 233, 211));
    opacity: 0.7;
    padding: 40px 30px;
    font-size: 18px;
    opacity: 1.5;
    color:rgb(248, 238, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 1.5em;
    
  }